.App {
  text-align: center;
}
.App button,a {
  text-decoration: none;
  color: white;
  margin-top: 100px;
  padding: 10px 20px;
  background-color: black;
  margin-inline: 20px;
  border: 1px solid rgba(0,0,0,0.2);
}

.Loading {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: pink;
  font-weight: bold;
  font-size: 30px;
}
.users {
  display: flex;
  flex-direction: column;
}
ul {
  display: grid;
  grid-template-rows: repeat(auto,1fr);
  gap: 20px;
}
li {
  list-style: none;
  display: block;
  margin-block: 10px;
  background-color: black;
  color: white;
  text-align: left;
  padding: 20px;
}
li span {
  display: block;
}
li span:last-child {
  background-color: rgba(0,0,0,0.2);
  padding: 10px;
}
h1 {
  text-align: center;
}
.title {
  font-weight: bold;
}